# EditorConfig helps developers define and maintain consistent coding styles
# between different editors and IDEs.
# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
#max_line_length = 120

[*.md]
trim_trailing_whitespace = false
#max_line_length = 100

[*.{yml, yaml}]
# explicit new line to prevent problems
insert_final_newline = true
